.hero-container{
    height: 50vh;
    margin: 0 10%;
    display:flex;
    flex-direction: row;
}
.hero-left{
    width:60%;
    height:100%;
    margin:5vh;
}
.hero-right{
    width:40%;
    height: 100%;
    margin:5vh;
    padding:2rem;
    
}
.header-info{
    padding-top:1rem;
    line-height: 64px;
    padding-bottom: 1rem;
}
.header-hero{
    line-height: 4rem;
}
.header-content{
font-weight: 400;
}
.hero-image{
    height: 100%;
        background-image: url('../assets/images/hero.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }