.main-container{
     align-items: center;
        background: linear-gradient(180deg, #fff, #fff 37.5%, #f1f2f4);
        display: flex;
        justify-content: space-between;
        padding: 38px;
        position: relative;
}
        
.main-container .left-content{
    padding-left:5rem;
    margin-right: 8rem;
        width: 742px;
        font-weight: 400;
        
}
.main-container .right-content{
        background: url(/src/assets/images/main-container-image.jpg) no-repeat;
            height: 482px;
            width: 360px;

}

.green-content{
    color: #429E9D
}
.typed-content{
    color:lightcoral;
    font-weight: 500;
}